/* Default styles for social icons */
.social-icons {
  display: flex;
  width: 100%;
}

/* Styles for large screens */
@media (min-width: 769px) {
  .social-icons-large {
    margin-top: -50px; /* Adjust this value as needed */
    justify-content: flex-start;
    margin-left: 32px;
  }
}

/* Styles for small screens */
@media (max-width: 768px) {
  .social-icons-small {
    justify-content: center;
    margin-top: 20px;
    margin-left: 28px;
  }

  .marginClass {
    margin-top: -110px;
  }
}
